body {
  background: rgb(22, 22, 22);
  color: rgb(200, 200, 200);
  font-size: 14pt;
}

a {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(20,20,20);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(200,200,200);
  border-radius: .75rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(175,175,175);
}

.Banner {
  width: 98vw;
  height: 10vh;
  padding: 0px;
  margin: 0px;
  background-image: url("../media/fillBanner.jpg");
}
