body {
  background: rgb(22, 22, 22);
  color: rgb(200, 200, 200);
  font-size: 14pt;
  padding: 0px;
  margin: 0px;
}

a {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-radius: 0.75rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(175, 175, 175);
}

.WelcomeBanner {
  width: 50vw;
  height: 75vh;
  padding: 0px;
  margin: auto;
  margin-top: 5vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../media/happystudents.png");
}
