.Login {
  width: 50vw;
  max-width: 400px;
  padding: 0.25rem;
  margin: auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgb(50, 50, 50);
  box-shadow: 0rem 0rem 0.25rem 0.25rem rgb(25, 25, 25);
}

.Login div {
  flex: 1;
  text-align: left;
  padding: 0.15rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.Login div label {
  flex: auto;
}

.Login div input {
  flex: auto;
  max-width: 200px;
}

.Login div .Button:hover {
  background-color: rgb(200, 200, 200);
  color: rgb(50, 50, 50);
  cursor: pointer;
}
