.ClassTable {
  width: 80vw;
  max-width: 900px;
  margin: auto;
  padding: 0px;
  display: grid;
  grid-template-columns: minmax(50px, 150px) minmax(50px, 150px) minmax(50px, 150px) minmax(50px, 150px) minmax(50px, 150px);
  align-content: space-evenly;
  justify-content: space-evenly;
  border: 1px solid rgb(200, 200, 200);
}

.ClassTable div {
  padding: .25rem;
  border-right: 1px solid rgb(200, 200, 200);
}

.ClassTable div:nth-last-child(1) {
  border: 0px;
}

.Table {
  width: 80vw;
  height: 50vh;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.Table .Header {
  background-color: rgb(200, 200, 200);
  color: rgb(20, 20, 20);
  font-size: 18pt;
}

.Table .Header div {
  flex: auto;
  text-align: center;
  padding: 0.15rem;
}

.Table .Rows div {
  flex: auto;
  text-align: center;
  padding: 0.15rem;
}
